.custImg1 {
    background-image: url("../images/customerImg1.png");
    height:500px;
}

.custImg2 {
    margin-top:60px;
    margin-left:60px;
}

.custImg3 {
    float: right;
    margin-right: 60px;
    margin-top: 320px;
}

.custInfo1 {
    color: white;
    font-size: 37px;
    margin: 0px 25%;
}

.plusImg {
    margin-left: 48%;
    margin-top: 50px;
}

.custSection2{
    margin:70px 10%;
    display: flex;
}

    .custSection2 h1 {
        font-size:40px;
        color: #3E1DA4;
        font-weight: 600;
    }
    .custSection2 p {
        margin-top:60px;
        font-weight: 600;
        font-size:19px;
    }
    .listImg{
        margin-right:15px;
    }

.custList ul {
    list-style: none;
}

.custList li {
    margin:5px;
    padding: 10px 22px;
    background: #F2F2F2;
    font-size: 18px;
}

.custCard{
    display:flex;
    justify-content:center;
}

.leftCard {
    width: 500px;
    height: 520px;
    border-top: 5px solid #EF4436;
    box-shadow: 0px 10px 10px 1px #00000045;
    margin: 15px;
}

.rightCard{
    margin:15px;
}

.rightCard1 {
    width: 800px;
    height: 250px;
    border-top: 5px solid #66B132;
    box-shadow: 0px 10px 10px 1px #00000045;
}

.rightCard2 {
    width: 800px;
    height: 250px;
    border-top: 5px solid #3E1DA4;
    box-shadow: 0px 10px 10px 1px #00000045;
    margin-top: 20px;
}

.flexibleSection3 {
    background-color: #F2F2F2;
    padding: 20px 0;
    margin: 100px 0;
}

.flexible {
    margin: 50px 10%;
    display: flex;
}

.flexLeft img {
    width: 100%;
    padding: 20px;
}

.flexRight {
    padding: 20px;
}

    .flexRight h4 {
        font-size: 25px;
        font-weight: 600;
        color: #EF4436;
    }

    .flexRight h1 {
        font-size: 33px;
        margin-top: 25px;
    }

    .flexRight p {
        font-size: 19px;
        margin-top: 35px;
    }

.custSection4 {
    display: flex;
    margin: 50px 10%;
}
    .custSection4 h4 {

    }