.custText2 {
    display: flex;
    font-size: 32px;
    font-weight: 300;
}

.custImg1 {
    background-image: url("../images/customerImg1.png");
    height:500px;
}

.custImg2 {
    margin-top:60px;
    margin-left:60px;
}

.custImg3 {
    float: right;
    margin-right: 60px;
    margin-top: 320px;
}

.custInfo1 {
    color: white;
    font-size: 37px;
    margin: 0px 25%;
}

.plusImg {
    margin-left: 48%;
    margin-top: 50px;
}

.custSection2{
    padding:70px 10%;
    display: flex;
}

    .custSection2 h1 {
        font-size:40px;
        color: #3E1DA4;
        font-weight: 600;
    }
    .custSection2 p {
        margin-top:60px;
        font-weight: 600;
        font-size:19px;
    }
    .listImg{
        margin-right:15px;
    }

.custList ul {
    list-style: none;
}

.custList li {
    margin:5px;
    padding: 10px 22px;
    background: #F2F2F2;
    font-size: 18px;
}

.custCard {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 50px auto;
}

.leftCard {
    width: 35%;
    border-top: 5px solid #EF4436;
    box-shadow: 0px 10px 10px 1px #00000045;
    margin: 15px;
}

    .leftCard > div {
        margin: 25px;
    }

.rightCard{
    margin:15px;
}

.rightCard1 {
    display: flex;
    padding: 25px;
    width: 100%;
    border-top: 5px solid #66B132;
    box-shadow: 0px 10px 10px 1px #00000045;
}

    .rightCard1 .rightCard1Img {
        text-align: center;
        width: 25%;
        display: contents;
    }

    .rightCard1 .rightCard1Img {
        text-align: center;
        width: 25%;
        display: contents;
    }

.rightCard2 {
    display: flex;
    padding: 25px;
    width: 100%;
    border-top: 5px solid #3E1DA4;
    box-shadow: 0px 10px 10px 1px #00000045;
    margin-top: 20px;
}
    .rightCard2 .rightCard2Img {
        text-align: center;
        width: 25%;
        display: contents;
    }

.cardDiv {
    margin-left: 20px;
}
.cardFlex {
    display: grid;
    align-content: space-evenly;
}

    .cardFlex h3 {
        font-weight: 600;
    }

    .cardFlex p {
        font-size: 21px;
    }

    .cardFlex h5 {
        margin-top: 10px;
        font-size: 15px;
        font-weight: 600;
        color: gray;
    }

.flexibleSection3 {
    background-color: #F2F2F2;
    padding: 20px 0;
    margin: 100px 0;
}

.flexible {
    margin: 50px 10%;
    display: flex;
}

.flexLeft img {
    width: 100%;
    padding: 20px;
}

.flexRight {
    padding: 20px;
}

    .flexRight h4 {
        font-size: 25px;
        font-weight: 600;
        color: #EF4436;
    }

    .flexRight h1 {
        font-size: 33px;
        margin-top: 25px;
    }

    .flexRight p {
        font-size: 19px;
        margin-top: 35px;
    }

.custSection4 {
    display: flex;
    margin: 100px 10%;
}
    .custSection4 h4 {
        color: #EF4436;
        font-weight: 600;
        font-size:20px;
    }

.custList2 li {
    padding: 20px;
    background-color: #3E1DA4;
    color: white;
    margin: 10px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.custList2 li img {
    width: 32px;
    height: 32px;
}

.custImg4 {
    background-image: url("../images/custImg4.png");
    background-position-x: center;
}

.custSection5{
    margin: 100px 0;
    display:flex;
}

.custInfo4 {
    color: white;
    font-size: 33px;
    float: left;
    width: 50%;
    margin: 80px;
}

.rightCard2Img > img {
    height: 80%;
}


@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 767px){

}

@media only screen and (max-width: 523px) {
    .custSection4 {
        display: block;
        margin: 10px;
    }

    .custCard {
        width: 90%;
        display: block;
        margin: 30px auto;
    }
    .cardDiv{
        margin: 0;
    }
    .leftCard {
        width: 100%;
        margin: 20px 0;
        padding: 25px;
    }

    .leftCard > div{
        margin: 0px;
    }

    .rightCard {
        width: 100%;
        margin: 0;
    }

    .rightCard1 {
        display: block;
    }

        .rightCard1 .rightCard1Img {
            text-align: center;
        }

    .rightCard2 {
        display: block;
    }

        .rightCard2 .rightCard2Img {
            text-align: center;
        }


    .flexible {
        margin: 10px;
        display: block;
    }

    .flexRight h4 {
        font-size: 30px;
    }

    .flexRight h1 {
        font-size: 30px;
        margin-top: 25px;
        text-align: justify;
    }

    .flexRight p {
        font-size: 26px;
        margin-top: 25px;
        text-align: justify;
    }

    .custImg2, .custImg3 {
        display: none;
    }

    .rightCard1Img > img{
        width: 100%;
    }

    .rightCard2Img > img {
        width: 100%;
    }
     
}