.consultancy h2 {
    font-size:43px !important;
}
.consultancy h3 {
    font-size: 29px;
    color: #EF4436
}
.consultancy p {
    font-size:24px;
    color:black
}

.p-consultancy {
    padding-right: 7%;
}
.w-consultancy {
    width:90%;
}
.mt-consultancy{
    margin-top:4%;
}
.consultancy1 h3 {
    font-size: 29px;
    color: #EF4436;
}
.purpleimg {
    width:100%; 
    padding:0;
}
.purpleimg img {
    width: 100%;
    
}
.purpleall {
    position:relative;
}

.purpletop {
    position: absolute;
    top: 50px;
    left: 40%;
    z-index: 999;
    color: white;
}
.purpletop h2{
    font-size:69px;
}
 .purpletop p {
        font-size: 29px;
        text-align:center; 
}
 .purplebot{
     position:absolute;
     z-index:999;
     bottom:30%;
     left:7%;
     color:white;
 }
.border11 {
    border-right: 1px solid white;
}
.one {
    display:inline-block;
    padding:30px;

}
.purplebot h3{
    font-size:127px;
    text-align:center;s
}
.purplebot p {
    font-size: 24px;
}