.corporate h3 {
    font-size: 30px;
    margin-bottom: 4%;
}
.corporate p {
    font-size: 24px;
    margin-bottom:4%;
}
.corporate img {
    width:7%;

}
.corporate a {
    color:#072C50 !important;
}


